

/* App.css for global style across pages */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  background: rgb(121, 121, 176);
}
.page-container {
  display: flex;
  flex-direction: column;

  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh;
  min-width: 100vw;
  
  }



  .page-container2 {

    display: flex; /* flexible layouts */
    flex-direction: column; /* Align items in a column */
    justify-content: flex-start;
    align-items: center;

    padding: 0px 50px;
    border-radius: 10px;
    
    min-width : 80vw;
    min-height: 80vh;
   


    background-color: #f0f0f0;
}
a {
  text-decoration: none;
  color: #2b6cb0;
}
h1{



  font-size: 2.5rem;
  color: rgb(121, 121, 176);;
  

}
p {
  font-size: 1.2rem;
  color: #333;
  margin: 0;
}